version: 2.1

orbs:
  node: circleci/node@7.2.1

jobs:
  checkoutEtTests:
    executor: node/default
    steps:
      - run: 
          name: Cloner le dépot backend
          command: |
            git clone https://github.com/kofkoua/labo01_backend

      - node/install-packages:
          app-dir: labo01_backend
          pkg-manager: npm

      - run:
          name: Lancer les tests
          command: |
            cd labo01_backend
            npm test

  integrationFrontend:
    executor: node/default
    steps:
      - run: 
          name: Cloner les dépot Frontend et Backend
          command: |
            git clone https://github.com/kofkoua/labo01_frontend
            git clone https://github.com/kofkoua/labo01_backend

      - node/install-packages:
          app-dir: labo01_frontend
          pkg-manager: npm

      - run:
          name: Faire le build du frontend
          command: |
            cd labo01_frontend
            npm run build

      - run:
          name: Copier frontend/build vers backend/public
          command: |
            mkdir -p labo01_backend/public
            cp -rT labo01_frontend/build/ labo01_backend/public/

      - persist_to_workspace:
          root: .
          paths:
            - labo01_backend

  deploiement:
    executor: node/default
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Verifier la présence du dossier public dans le backend
          command: |
            cd labo01_backend
            ls -Rl



workflows:
  monWorkflow:
    jobs:
      - checkoutEtTests
      - integrationFrontend:
          requires:
            - checkoutEtTests
      - deploiement:
          requires:
            - integrationFrontend

